@import url('https://fonts.googleapis.com/css2? family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background: #ee9b00;
    box-shadow:  20px 20px 60px #ca8400,
                 -20px -20px 60px #ffb200;
}

.sensado{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    background: #ee9b00;
}


form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 25px;
}

form label .fa-solid {
    font-size: 20px;
    color: #cb232c;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 15px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}


form .link {
    color: #252525;
    margin-bottom: 15px;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #0a9396, #4fb3aa);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}
  
/* clases de botones de ON y OFF */

.incr{
    color: #fff;
    border: none;
    background: linear-gradient(to right, #0a9396, #4fb3aa);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}
.decr{
    color: #fff;
    border: none;
    background: linear-gradient(to right, #ae2012, #bb3e03);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}







/* <!--boton switch   --> */

.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #fff
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #0a9396;
	border-radius: 30px;
	transition: .5s;

    height: 20px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
